/*
 * Copyright (C) 2015, Nicola Spanti (also known as RyDroid) <dev@nicola-spanti.info>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */


@charset "UTF-8";

@import url("classes.css");


*
{
	max-height: 100%;
	max-width:  100%;
	box-shadow: none;
}

body
{
	height: 100%;
	width: 100%;
	
	margin: 0 auto;
	text-align: center;
}

body, canvas
{
	margin:  0;
	padding: 0;
}

canvas
{
	z-index: 0;
}

body > *
{
	display: none;
}

body > noscript
{
	display: inline-block;
}

section
{
	padding: 15px;
	z-index: 10;
	font-size: x-large;
}

@media (max-width: 400px)
{
	section
	{
		padding: 5px;
	}
	
	@media (max-width: 350px)
	{
		section
		{
			padding: 4px;
		}
		
		@media (max-width: 280px)
		{
			section
			{
				padding: 2px;
			}
		}
	}
}

section h1
{
	font-size: xx-large;
	font-weight: bolder;
}

section button
{
	margin:  15px;
	padding: 10px;
	box-shadow: none;
}

@media (max-width: 400px)
{
	section button
	{
		margin: 10px;
	}
	
	@media (max-width: 350px)
	{
		section button
		{
			margin:  7px;
			padding: 7px;
		}
		
		@media (max-width: 280px)
		{
			section button
			{
				margin:  4px;
				padding: 4px;
			}
		}
	}
}

section#menu        button,
section#how-to-play button,
section#privacy     button,
section#license     button,
section#contribute  button,
section#gnu-project button,
section#scores      button
{
	width: 80%;
	border: 2px solid grey;
	border-radius: 10px;
}

@media (max-width: 600px)
{
	section#menu        button,
	section#how-to-play button,
	section#privacy     button,
	section#license     button,
	section#contribute  button,
	section#gnu-project button,
	section#scores      button
	{
		width: 86%;
	}
	
	@media (max-width: 400px)
	{
		section#menu        button,
		section#how-to-play button,
		section#privacy     button,
		section#license     button,
		section#contribute  button,
		section#gnu-project button,
		section#scores      button
		{
			width: 90%;
		}
	}
}

section#menu        button,
section#menu        button *,
section#how-to-play button,
section#how-to-play button *,
section#privacy     button,
section#privacy     button *,
section#license     button,
section#license     button *,
section#contribute  button,
section#contribute  button *,
section#gnu-project button,
section#gnu-project button *,
section#scores      button,
section#socres      button *
{
	font-size: xx-large;
	text-align: center;
	vertical-align: middle;
}

#button_scores
{
	display: none;
}

section#lose
{
	width:  100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

section#lose, section#lose *
{
	color: white;
}

section#lose button
{
	font-size: xx-large;
	min-height: 25%;
	background-color: rgba(50, 50, 50, 0.5);
	border: 2px solid grey;
	border-radius: 10px;
}

section#lose   ul,
section#scores ul
{
	list-style-type: none;
	margin:  0 auto;
	padding: 0;
}

section .score-text,
section .last-score-value,
section .best-score-value
{
	width: 45%;
}

section .score-text
{
	text-align : left;
	float: left;
}

section .last-score-value,
section .best-score-value
{
	text-align : right;
	display: inline-block;
}

section#lose button img
{
	width: 100%;
}

section#privacy     p,
section#license     p,
section#license     ul,
section#license     ol,
section#contribute  p,
section#contribute  ul,
section#contribute  ol,
section#contribute  code,
section#contribute  pre,
section#gnu-project p,
section#scores #scores_statistics + ul
{
	text-align: left;
}

section#scores td
{
	text-align: right;
}

body > *, audio
{
	display: none;
}
